extends ../layouts/main
include ../components/price-table

block variables
    - const h1 = 'Пункт приема вторсырья';
    - const breadcrumbs = [h1];

block content
    .container
        .text-wrapper
            p Обращение в пункт приема макулатуры от ООО «Синай» позволит организовать систематическое уничтожение документов, их вывоз с территории предприятия, гарантированную конфиденциальную утилизацию.
    .section
        .container.mb-2.mb-md-3
            h2.h2 Адреса пунктов приема вторсырья
            .text-wrapper В Ленинградской области пункт приема макулатуры находится в городе Всеволожск. В Санкт-Петербурге и других городах действуют эко-пункты: небольшие точки сбора ненужной бумаги, где ее оставляют самостоятельно. Удобное расположение избавляет от необходимости транспортировки документов в удаленную часть города или района.
        .map-switch.js-switch-map(data-categories=JSON.stringify(receptions))
            .js-container
                .map-switch__tabs.js-switch-map-tabs
            .map-switch__el-wrapper
                .map-switch__el.js-switch-map-el
    .section
        .container
            h2.h2 Организация вывоза макулатуры с предприятия
            .text-wrapper
                p Если в офисе скопилось много бумаги, требующей утилизации, не обязательно задаваться вопросом «где сдавать макулатуру?». Мы бесплатно вывезем документы весом от 100кг на собственном транспорте. Также вы можете заключить договор на плановый регулярный вывоз и уничтожение вторсырья по удобному для вас графику.
                p Пользуясь услугами компании «Синай», вы избавитесь от необходимости самостоятельно посещать пункт приемы макулатуры, обеспечите конфиденциальность информации в документах, сделаете свой вклад в сохранение лесного фонда, покроете часть расходов на обеспечение офиса канцелярией.
    include ../includes/areas-map
