.select.selectize-control {
  .selectize-dropdown,
  .selectize-input,
  .selectize-input input {
    font-size: 16px;
  }

  .selectize-input {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    border-bottom: 1px solid;
    border-radius: 0;
    font-size: 16px;
    padding: 0;
    cursor: pointer !important;
    transition: 0.3s linear;

    &.full [type="select-one"] {
      display: none !important;
    }

    &::before {
      content: none !important;
    }

    &::after {
      position: static !important;
      top: 0 !important;
      margin: 0 0 8px !important;
    }

    .item {
      width: 100%;
      padding: 0 0 8px;
    }
  }

  input[disabled] {
    display: none !important;
  }

  .selectize-dropdown {
    border: 0 !important;
    border-radius: 0;
    margin-top: 0 !important;

    > .selectize-dropdown-content {
      padding: 10px 0;
      background: rgba($color-darkgray, 0.95);

      @include customScroll;
    }
  }

  input[type="select-one"] {
    width: 100% !important;
    padding: 0 0 8px !important;

    &::placeholder {
      font-size: 16px !important;
      letter-spacing: 0.03em;
    }
  }

  &.select_theme_light {
    input[type="select-one"]::placeholder {
      color: #B2B6C3 !important;
    }

    .selectize-input {
      color: #fff;
      border-color: rgba(#fff, 0.2);
      background: none;

      &::after {
        border-color: rgba(#fff, 0.2) transparent transparent transparent !important;
      }

      &.dropdown-active::after {
        border-color: transparent transparent rgba(#fff, 0.2) transparent !important;
      }

      &:hover,
      &:focus,
      &.focus {
        border-color: rgba(#fff, 0.5);
      }

      &.full .item {
        color: #fff;
      }

      &.input-active {
        background: none;
      }
    }

    .item {
      color: $color-lightgray;
    }

    .option {
      color: $color-lightgray;
      background: none;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
    }
  }

  &.select_theme_dark {
    .selectize-input {
      color: $color-dark;
      border-color: $color-lightgray;
      background: none;

      &::after {
        border-color: rgba($color-dark, 0.2) transparent transparent transparent !important;
      }

      &.dropdown-active::after, {
        border-color: transparent transparent rgba($color-dark, 0.2) transparent !important;
      }

      &:hover,
      &:focus,
      &.focus {
        border-color: $color-gray;
      }

      &.full .item {
        color: $color-darkgray;
      }

      &.input-active {
        background: none;
      }
    }

    .item {
      color: $color-gray;
    }

    .option {
      color: $color-lightgray;
      background: none;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
    }
  }
}


