@import '../mixins';
@import 'input';
@import 'dropdown';

.form {
  $self: &;

  &__row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mobile {
      display: block;
    }
  }

  &__field {
    flex: 1 1 1px;

    &_size_sm {
      flex: 0 1 100px;
    }

    & + & {
      margin: 0 0 0 30px;

      @include mobile {
        margin: 30px 0;
      }
    }
  }

  &__body {
    @include mobile {
      padding-right: 10%;
      padding-left: 10%;
    }
  }

  &__footer {

    &_align_right {
      justify-content: flex-end;
      text-align: right;

      @include mobile {
        text-align: center;
      }
    }

    &_flex_inline {

      @include mobileMin {
        display: flex;

        .form__submit {
          margin-bottom: 0;
        }

        #{$self}__agreement {
          order: -1;
          margin-right: 18px;
        }
      }
    }
  }

  &__agreement {
    font-size: 11px;
    color: $color-lightgray;

    @include mobile {
      font-size: 10px;
    }

    &_inline {
      display: flex;

      @include mobile {
        display: block;
      }
    }

    &_justify_end {
      justify-content: flex-end;
    }

    > a {
      display: block;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__submit {
    margin-bottom: 10px;
  }
}
