.about-page {
  &__preview {
    position: relative;
    margin: 0 0 50px;

    @include adaptive {
      @include relativeHeight(67);
    }

    @include mobile {
      margin: 0 0 15px;
    }
  }

  &__img {

    @include adaptive {
      @include fullAbsolute;
    }
  }

  &__params {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 80px -15px 120px;
  }

  &__params-prolog {
    flex: 0 0 50%;
    padding: 0 15px;

    @include adaptive {
      flex: 0 0 100%;
    }
  }

  &__params-title {
    margin: 0 0 6px;
  }

  &__params-item {
    flex: 0 0 25%;
    padding: 35px 15px 0;

    @include adaptive {
      flex: 0 0 50%;
    }

    @include mobile {
      flex: 0 0 100%;
      padding-top: 20px;
    }
  }

  &__params-item-name {
    color: $color-dark;
    font-size: 30px;
    font-weight: 500;

    @include mobile {
      font-size: 24px;
    }
  }

  &__params-item-text {
    font-size: 14px;
    font-weight: 300;
  }
}

.about-advantages {

  &__prolog {

    @include desktop {
      flex: 0 0 520px;
    }
  }
}
