.areas-map {
  display: flex;
  background: #fff;

  @include adaptive {
    display: block;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__content-wrapper {
    flex: 0 0 calc(45.3% - 76px);
    position: relative;
    z-index: 1;
    padding: 78px 0 25px 0;

    @include adaptive {
      padding-top: 60px;
      padding-bottom: 30px;

      @include containerPaddings;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 600px 76px 0 0;
      border-color: #fff transparent transparent transparent;

      @include adaptive {
        content: none;
      }
    }
  }

  &__content {
    z-index: 1;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  &__form {
    padding-right: 46px;

    @include adaptive {
      padding-right: 0;
    }
  }

  &__form-rows {
    margin: 0 0 30px;

    @include tablet {
      display: flex;

      .form__row {
        flex: 1 1 1px;
        margin: 0 30px 0 0;

        &:first-child {
          flex: 0 1 66.6666%;
        }

        &:last-child {
          flex: 0 1 33.3333%;
          margin-right: 0;
        }
      }
    }
  }

  &__el {
    height: 600px;
    z-index: 0;
    flex: 1 1 auto;

    @include mobile {
      height: 94vw;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 46px;
    margin-top: auto;

    @include adaptive {
      padding-right: 0;
      margin-top: 76px;
      justify-content: flex-end;
    }

    @include mobile {
      margin-top: 50px;
      justify-content: space-between;
    }
  }

  &__tel {
    font-size: 16px;
    color: $color-dark;
    margin-right: 30px;
  }

  &__select {

    .dropdown__list {
      background: #F5F5F7;
      width: 320px;
      max-height: 310px;
      font-size: 20px;
      color: $color-gray;
      padding: 20px;
      overflow: auto;

      @include customScroll;
    }

    .dropdown__item {
      margin-bottom: 14px;

      &:hover,
      &.active {
        color: $color-green;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

[class$="ground-pane"] {
  filter: grayscale(1);
}
