.map-switch {
  display: flex;

  @include adaptive {
    display: block;
  }

  &__tabs {
    width: 300px;

    @include adaptive {
      width: auto;
      margin: 0 0 25px;

      @include containerPaddings;
    }
  }

  &__el {
    @include fullAbsolute;
  }

  &__el-wrapper {
    position: relative;
    flex: 1 1 auto;
    height: 600px;

    @include adaptive {
      height: auto;
      @include relativeHeight(82);
    }

    @include mobile {
      @include relativeHeight(116);
    }
  }
}
