.about {
  display: flex;
  background: #4B4F5C;

  @include adaptive {
    display: block;
  }

  &__preview-wrapper {
    position: relative;
    z-index: 1;
    flex: 0 0 45.3%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -47px;
      bottom: 0;
      width: 100vw;
      background: #4B4F5C;
      transform: skewX(-7deg);

      @include adaptive {
        content: none;
      }
    }
  }

  &__preview {
    z-index: 1;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  &__video {
    position: relative;
    height: 360px;
    transform: skewX(-7deg);
    margin: 0 -71px 0 -25px;
    cursor: pointer;

    @include adaptive {
      transform: none;
      margin: 0;
    }

    @include mobile {
      height: 200px;
    }

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-dark;
      opacity: 0.7;
      transition: opacity 0.3s linear;
    }

    &:hover::before {
      opacity: 0;
    }
  }

  &__video-placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__video-play-button {
    z-index: 2;
    position: absolute;
    width: 118px;
    top: 0;
    right: 37px;
    bottom: 0;
    margin: auto 0;
    transform: skewX(7deg);

    @include adaptive {
      transform: none;
    }

    @include mobile {
      width: 65px;
    }
  }

  &__preview-body {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;
    background: #4B4F5C url('../images/content/about-bg.svg') no-repeat 0 100%;

    @include adaptive {
      padding: 30px 0;
      background-image: none;

      @include containerPaddings;
    }
  }

  &__quote {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.06em;
    color: #fff;

    @include mobile {
      font-size: 16px;
    }

    p {
      margin-bottom: 10px;

      &:first-child {
        &::before {
          display: inline-block;
          content: url('../images/content/svg/text-quote.svg');
          width: 17px;
          height: 15px;
          margin: 0 11px 0 0;
          vertical-align: baseline;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__content {
    z-index: 0;
    flex: 0 0 54.7%;
    position: relative;
    color: #fff;
    background: $color-dark;
    overflow: hidden;
    padding: 60px 0 109px 138px;

    @include tablet {
      padding: 50px 0;
    }

    @include mobile {
      padding: 30px 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      bottom: -20px;
      left: 68px;
      display: block;
      width: 20px;
      transform: rotate(7deg);
      background: $color-green;
      opacity: 0.5;

      @include adaptive {
        content: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      bottom: -20px;
      left: 102px;
      display: block;
      width: 11px;
      transform: rotate(7deg);
      background: $color-green;

      @include adaptive {
        content: none;
      }
    }
  }

  &__content-title {
    font-size: 36px;
    line-height: 1.3;
    font-weight: 500;
    text-align: right;
    letter-spacing: 0.05em;
    margin: 0 0 57px;

    @include adaptive {
      @include containerPaddings;
    }

    @include mobile {
      font-size: 26px;
      margin: 0 0 30px;
    }
  }

  &__main-row {
    position: relative;
    background: $color-green;
    transform: skewX(-7deg);
    padding: 18px 0 18px 40px;
    margin: 0 0 80px -5px;

    @include adaptive {
      transform: none;
      padding: 10px 0;
      margin: 0 0 30px;

      @include containerPaddings;
    }
  }

  &__mountain-decoration {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 100%;
    width: 370px;
    fill: rgba($color-lightgray, 0.1);

    @include adaptive {
      width: 312px;
      left: 0;
      right: unset;
    }

    @include mobile {
      width: 190px;
    }
  }

  &__content-subtitle {
    position: relative;
    font-size: 44px;
    line-height: 1.35;
    font-weight: 700;
    transform: skewX(7deg);
    letter-spacing: 0.03em;

    @include adaptive {
      transform: none;
    }

    @include mobile {
      font-size: 30px;
    }
  }

  &__content-text {
    padding-left: 40px;

    @include adaptive {
      @include containerPaddings;
    }
  }
}
