@import '../mixins';

.additional-services {

  &__content {
    flex: 1 1 auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -38px -23px;

    @include adaptive {
      margin: -38px -15px;
    }

    @include mobile {
      margin: -12px 0;
    }
  }

  &__item {
    flex: 0 0 50%;
    padding: 38px 23px;

    @include adaptive {
      padding: 38px 15px;
    }

    @include mobile {
      flex: 0 0 100%;
      padding: 12px 0;
    }
  }
}

.additional-service {
  $self: &;
  display: block;
  padding: 0 0 0 12px;

  &__title {
    position: relative;
    @include card-title;
    background: transparent;
    transition: 0.3s linear;
    padding: 1px 8px 1px 0;

    @include mobile {
      font-size: 14px;
    }

    #{$self}:hover & {
      color: #fff;
      background: $color-green;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 12px;
      height: 100%;
      transition: background 0.3s linear;

      #{$self}:hover & {
        background: $color-green;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.7ch;
      right: calc(100% + 6px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 6px;
      border-color: transparent transparent transparent $color-green;
      transition: border-color 0.3s linear;

      #{$self}:hover & {
        border-color: transparent transparent transparent $color-lightgreen;
      }
    }
  }

  &__text {
    @include card-text;

    @include mobile {
      font-size: 12px;
    }
  }
}
