.inline-form {
  display: flex;
  border: 2px solid rgba(114, 120, 142, 0.1);
  padding: 40px 50px;

  @include adaptive {
    display: block;
    padding: 40px 94px;
  }

  @include mobile {
    padding: 30px 20px;
  }

  &__content {
    flex: 0 0 49%;
    margin: 0 60px 0 0;

    @include adaptive {
      margin: 0 0 40px;
    }

    @include mobile {
      margin: 0 0 30px;
    }
  }

  &__description {
    position: relative;
    display: flex;
    align-items: center;
    color: $color-dark;
    font-size: 22px;
    font-weight: 500;
    padding: 0 0 0 60px;
    --decoration-color: #{$color-dark};

    @include tablet {
      padding: 30px 0 0;

      br {
        display: none;
      }
    }

    @include mobile {
      font-size: 19px;
      padding: 20px 0 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 3px;
      height: 100%;
      left: 0;
      background: linear-gradient(
        135deg,
        var(--decoration-color) 0,
        var(--decoration-color) 21px,
        $color-green 21px,
        $color-green 24px,
        var(--decoration-color) 24px,
        var(--decoration-color) 27px,
        $color-green 27px,
        $color-green calc(100% - 3px),
        transparent calc(100% - 3px),
        transparent 100%
      );

      @include adaptive {
        width: 100%;
        height: 3px;
        background: linear-gradient(
          135deg,
          var(--decoration-color) 0,
          var(--decoration-color) 21px,
          $color-green 21px,
          $color-green 24px,
          var(--decoration-color) 24px,
          var(--decoration-color) 27px,
          $color-green 27px,
          $color-green calc(100% - 3px),
          transparent calc(100% - 3px),
          transparent 100%
        );
      }
    }
  }
}
