.dropdown {
  $self: &;
  position: relative;

  &__title {
    color: $color-green;
    cursor: pointer;
    transition: color 0.3s linear;

    &::after {
      content: "";
      display: inline-block;
      width: 15px;
      height: 9px;
      background: url('../images/content/svg/angle-down--dark.svg') no-repeat;
      margin-left: 8px;
      vertical-align: middle;
      opacity: 0.2;
      transition: opacity 0.3s linear;

      #{$self}.active & {
        opacity: 0.5;
      }
    }

    #{$self}.active & {
      color: $color-dark;
    }
  }

  &__list {
    z-index: 2;
    position: absolute;
    display: none;
    list-style: none;
    margin: 0;

    #{$self}.active & {
      display: block;
    }
  }

  &__item {
    cursor: pointer;
  }
}
