.areas-map.js-areas
    .areas-map__content-wrapper
        .areas-map__content.js-container
            .h2.areas-map__title
                span Прием макулатуры в
                div.areas-map__select.js-areas-select
                span районе
            .areas-map__form
                form.form(action="#")
                    .form__body
                        .areas-map__form-rows
                            .form__row
                                .form__field
                                    input.input.input_theme_dark(type="text" placeholder="Имя")
                                .form__field
                                    input.input.input_theme_dark(type="tel" inputmode="number" required placeholder="Телефон*")
                            .form__row
                                .form__field
                                    select.select.select_theme_dark.js-select
                                        each item, i in Array(5)
                                            if (i === 0)
                                                option(value="")= `Тип макулатуры:`
                                            else
                                                option(value=i)= `Тип макулатуры ${i}`
                        .form__footer.form__footer_align_right
                            button.btn.btn_size_lg.btn_theme_dark.form__submit(type="submit")
                                .btn__text Отправить
                            .form__agreement
                                | Отправляя форму, Вы соглашаетесь с
                                a(href="/agreement/") обработкой персональных данных
            .areas-map__footer
                a.areas-map__tel(href="tel:+78129613538") +7 (812) 961-35-38
                button.border-link.border-link_size_sm.border-link_theme_gray(type="button" data-popup="#export-popup") Заказать звонок
    .areas-map__el.js-areas-map
