.inline-form
    .inline-form__content
        .form__row
            .form__field
                input.input.input_theme_dark(type="text" placeholder="Имя")
            .form__field
                input.input.input_theme_dark(type="tel" placeholder="Телефон*" inputmode="numeric")
        .form__row
            .form__field
                input.input.input_theme_dark(type="text" placeholder="Вопрос")
        .form__footer.form__footer_align_right.form__footer_flex_inline
            button.btn.btn_size_lg.btn_theme_dark.form__submit(type="submit")
                .btn__text Отправить
            .form__agreement
                | Отправляя форму, Вы соглашаетесь с
                a(href="/agreement/") обработкой персональных данных
    .inline-form__description!= "Оставьте контактные <br> данные и мы ответим <br> на ваш вопрос"
