.section
    .container
        h2.h2 Рекомендации по сдаче макулатуры
        .row
            .col-md-6.mb-2.mb-md-3
                .vertical-item
                    .border-decoration.border-decoration_theme_dark.border-decoration_position_left
                        .vertical-item__title Сортировка
                        .vertical-item__text Требуется отсортировать макулатуру по маркам, картон по видам и убрать посторонние предметы (скрепки, обложки, файлики и т.п.).
            .col-md-6.mb-2.mb-md-3
                .vertical-item
                    .border-decoration.border-decoration_theme_dark.border-decoration_position_left
                        .vertical-item__title Транспорт
                        .vertical-item__text Самостоятельная доставка – выгоднее. При вывозе вторсырья объемом менее 500 кг, учитываются затраты на транспорт.
            .col-md-6.mb-2
                .vertical-item
                    .border-decoration.border-decoration_theme_dark.border-decoration_position_left
                        .vertical-item__title Тип упаковки
                        .vertical-item__text За прессованную в кипы макулатуру или картонные отходы цена за кг будет выше, чем за сдачу бумаги навалом.
            .col-md-6
                .vertical-item
                    .border-decoration.border-decoration_theme_dark.border-decoration_position_left
                        .vertical-item__title Объём
                        .vertical-item__text Чем больше объем сдаваемых вторичных отходов, тем выше цена за 1 кг.
