.inner-section.left-decoration-1
    .work-scheme
        .container
            .work-scheme__row
                .work-scheme__prolog
                    .border-decoration.border-decoration_position_left.border-decoration_theme_dark
                        h2.h2 Схема приема макулатуры
                        .text-wrapper
                            p Любым удобным способом оставьте заявку, чтобы мы обсудили детали и согласовали время вывоза.
                            p Сразу после погрузки и взвешивания будет произведена выплата вознаграждения с предоставлением необходимых вам документов.
                .work-scheme__content
                    ul.work-scheme__list
                        li.work-scheme__item
                            .work-scheme__item-preview
                                picture.work-scheme__item-order
                                    source(srcset="images/content/s1.svg" media="(min-width: 768px)")
                                    img(src="images/content/s1-320.svg" alt="")
                                .work-scheme__item-name Звонок
                            .work-scheme__item-info
                                img.work-scheme__item-icon(src="images/content/call.svg")
                                .work-scheme__item-text Обсуждается вид и объем макулатуры для сдачи
                        li.work-scheme__item
                            .work-scheme__item-preview
                                picture.work-scheme__item-order
                                    source(srcset="images/content/s2.svg" media="(min-width: 768px)")
                                    img(src="images/content/s2-320.svg" alt="")
                                .work-scheme__item-name Заявка
                            .work-scheme__item-info
                                img.work-scheme__item-icon(src="images/content/request.svg")
                                .work-scheme__item-text Согласовывается условие вывоза, адрес и способ оплаты
                        li.work-scheme__item
                            .work-scheme__item-preview
                                picture.work-scheme__item-order
                                    source(srcset="images/content/s3.svg" media="(min-width: 768px)")
                                    img(src="images/content/s3-320.svg" alt="")
                                .work-scheme__item-name вывоз
                            .work-scheme__item-info
                                img.work-scheme__item-icon(src="images/content/delivery.svg")
                                .work-scheme__item-text Бесплатная погрузка и вывоз на базу для переработки
                        li.work-scheme__item
                            .work-scheme__item-preview
                                picture.work-scheme__item-order
                                    source(srcset="images/content/s4.svg" media="(min-width: 768px)")
                                    img(src="images/content/s4-320.svg" alt="")
                                .work-scheme__item-name Расчет
                            .work-scheme__item-info
                                img.work-scheme__item-icon(src="images/content/payment.svg")
                                .work-scheme__item-text Оплата удобным способом, сразу после взвешивания
