@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ALSRubl';
  src: url('../fonts/Rouble/ALSRubl/ALSRubl.eot');
  src: local('ALSRubl'),
  url('../fonts/Rouble/ALSRubl/ALSRubl.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rouble/ALSRubl/ALSRubl.woff') format('woff'),
  url('../fonts/Rouble/ALSRubl/ALSRubl.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
