/**
 * Variables
*/

$color-dark: #373C4A;
$color-light: #fff;
$color-green: #7AA95D;
$color-lightgreen: #F8FBF8;
$color-darkgray: #454A57;
$color-gray: #72788E;
$color-lightgray: #B2B6C3;

$font-base: 'HelveticaNeue', sans-serif;

$headerLogoLgWidth: 146px;
$headerLogoSmWidth: 104px;

$containerXlPadding: 15px;
$containerSmPadding: 10px;
